@model HomePageModel

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4>Categories</h4>
    </div>
    <div class="panel-body">
        <ul class="list-group">
        </ul>
    </div>
</div>