@model WaitModel

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4>Waiting</h4>
    </div>
    <div class="panel-body">
        Waiting for creation of the new category.
    </div>
</div>

@section Head{ 
    <meta http-equiv="refresh" content="5">
}